body {
	align-items: center;
	background-color: #f7f7f7;
	display: flex;
	font-family: 'Roboto', sans-serif;
	height: 100vh;
	justify-content: center;
}
.cu-converter {
	background-color: white;
	box-shadow: 1px 1px 1px #ddd;
	max-width: 360px;
	padding: 1.3rem;
	.cu-app {
		.cu-heading {
			text-align: center;
			h1 {
				font-weight: 400;
			}
		}
		.cu-currency {
			.cu-amount {
				h3 {
					font-weight: 350;
					margin-bottom: 0.5rem;
				}
				input {
					height: 2rem;
					padding: 1px 6px;
					width: calc(100% - 12px);
				}
			}			
			.cu-options {
				align-items: center;
				display: flex;
				.cu-option {
					align-items: center;
					display: flex;
				}
			}
		}
		.cu-result {
			text-align: center;
			h2 {
				font-weight: 400;
				margin-bottom: 0;
				text-align: center;
			}
			p {
				margin-top: 0.5rem;
			}
		}
	}
}